@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vido</h1>
    <p>Esse é meu novo repositório github <a href="https://github.com/JonathaCunha">https://github.com/JonathaCunha</a>.</p>
</div>
